.containerTwo {
    width: 435px;
    height: 100%;
}

.title {
    font-size: 20px;
    color: rgb(72, 85, 106);
}

.description {
    color: rgb(109, 127, 151);
    margin-top: 10px;
}

@media (max-width:768px) {
    .containerTwo {
        width: 325px;
        height: 310px;
    }

    .title {
        font-size: 15px;
    }

    .description {
        font-size: 12.4px;
        margin-top: 15px;
    }
}